.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    color: #4B5563;
    text-align: center;
    position: absolute;
    z-index: 1;
    width: 290px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-size: 12px;
    padding: 12px;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}