/* .App {
    text-align: center;
    background: #FFFFFF;
    min-height: 100vh;
    min-width: 100vw;
  } */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40vw;
  height: 80vh;

  background: #FFFFFF;
  border: 1px solid #F9FAFB;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  position: relative;

  padding: 10px 20px;
  box-sizing: border-box;
}

.modal .close-btn {
  position: absolute;
  right: 1%;
  top: -6%;

  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;

  cursor: pointer;
}

.modal .modal-head {
  display: flex;
  justify-content: space-between;
}

.modal .modal-head-left {
  display: flex;
}

.modal .modal-head-right {
  height: 60px;
  width: 60px;

  background: #FFFFFF;
  border: 1px solid #F9FAFB;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
  border-radius: 50%;

}